// Place all the styles related to the Attendance_change_approval_log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term {
  font-size: 1.7em;
  color: blue;
  text-align: left;
  font-weight: bold;
  margin-bottom: 6px;
}