.label-base {
  margin-top: 5px;
}

.btn-base {
  margin-top: 10px;
}

#table-bases {
  
  th {
    vertical-align: middle;
    text-align: center;
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-edit-base-info {
  margin-top: 5px;
}

.btn-edit-base-info {
  margin-top: 10px;
}

.label-new-base-info {
  margin-top: 5px;
}

.btn-new-base-info {
  margin-top: 10px;
}


