/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
  #font-weight: bold;
  #font-size: 15px;
  #letter-spacing: 1.5px;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}


.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-user-all-users {
  margin-top: 5px;
}

.btn-user-all-users {
  margin-top: 10px;
}


#table-users {
  td {
    vertical-align: middle;
  }  
}

.label-edit-basic-info {
  margin-top: 5px;
}


.btn-edit-basic-info {
  margin: 15px 5px;
  width: 30%;
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-users-show {
  margin-bottom: 10px;
  margin: 10px, 10px;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.table-overwork {
  th {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.menu-notice {
   font-weight: bold;
   margin-bottom: 10px;
   list-style: none;
}

#table-applicants {
  th {
    vertical-align: middle;
    text-align: center;
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.modal-title {
  font-style: bold;
}


#table-log {
  th {
    vertical-align: middle;
    text-align: center;
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }
}






